db.sqlite3
formaturaapp/__pycache__/*
apps/pagamento/__pycache__/*
apps/pagamento/migrations/*
apps/presenca/__pycache__/*
apps/presenca/migrations/*
apps/presentes/__pycache__/*
apps/presentes/migrations/*
media/*
.env