{% load static %}

<div id="overlay" class="overlay"></div> <!-- Overlay escuro -->
<div id="mySidebar" class="sidebar">
  <a class="logomenu">FMR</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="menu-item" href="{% url 'index' %}">
    <span class="menu-text">Pagina inicial</span>
    <span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
      </svg>
    </span>
  </a>
  <a class="menu-item" href="{% url 'presenca' %}">
    <span class="menu-text">Confirmar presença</span>
    <span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
      </svg>
    </span>
  </a>
  <a class="menu-item" href="{% url 'presentes' %}">
    <span class="menu-text">Lista de presentes</span>
    <span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
      </svg>
    </span>
  </a>
  <a class="menu-item" href="{% url 'local' %}">
    <span class="menu-text">Local do evento</span>
    <span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
      </svg>
    </span>
  </a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'images/logo.png' %}" class="logo-img" alt="Logo">
    <div style="padding-left: 10px;">Formatura Rian</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()"> 
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Pagina inicial</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'presenca' %}">Confirmar presença</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'presentes' %}">Lista de presentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'local' %}">Local do evento</a>
          </li>
      </ul>
  </div>
</nav>


<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "300px";
    document.getElementById("overlay").style.display = "block"; // Exibe o overlay escuro
    // Não altere o #main, o conteúdo não será afetado
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("overlay").style.display = "none"; // Oculta o overlay
    // Não altere o #main, o conteúdo não será afetado
  }

  // Fechar o menu ao clicar fora do menu
  document.getElementById("overlay").addEventListener("click", closeNav);

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
