{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}">
{% endblock %}

{% block title %}
    Pagina inicial | Formatura Rian
{% endblock %}

{% block content %}

    <img src="{% static 'images/imagem_index.webp' %}" alt="Imagem de Fundo" class="full-screen-image">

    <div class="content-wrapper">
        <!-- Texto acima do botão -->
        <div class="text">
            <p class="custom-text-date">11.01.2024 - 20:30</p>
            <p class="custom-text-title">Formatura Rian</p>
        </div>
        <!-- Botão fixado na parte inferior -->
        <a href="{% url 'presenca' %}" class="btn btn-primary custom-button">PRESENÇA</a>
    </div>

    <div class="text-image-wrapper">
        <div class="image-content">
            <img src="{% static 'images/index3.png' %}" alt="Imagem do Evento" class="event-image">
        </div>
        <div class="text-content">
            <p>Seja Bem-vindo! 🎓
                <br><br>
                No dia 11 de janeiro, às 16h, darei um passo importante na minha jornada ao me formar em Educação Física. Essa conquista simboliza dedicação, superação e o compromisso de inspirar saúde e transformação.
                
                "Educar pelo movimento é formar o corpo, a mente e o espírito."
                
                Vamos celebrar juntos esse momento tão especial! 🥂💚</p>
        </div>
    </div>


{% endblock %}