{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'style/pagina_pix.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center">Pagamento por Pix</h2>

    <!-- Imagem do valor total da compra -->
    <div class="total-value">
      Total da compra: R$ <span id="totalValue">100,00</span>
    </div>

    <!-- QR Code do Pix -->
    <div class="qr-code">
      <img src="media\pagamentos\qrcode_pix\{{fileNameQrcode}}" alt="QR Code" class="img-fluid" />
      <p class="mt-2">Scaneie o QR Code para pagar</p>
    </div>

    <!-- Campo para inserir código do Pix -->
    <div class="form-group">
      <label for="pixCode">Código do Pix:</label>
      <input type="text" class="form-control" id="pixCode" value="{{pix}}" readonly />
    </div>

    <!-- Botão para copiar código -->
    <button class="btn btn-primary copy-button" onclick="copyPixCode()">Copiar Código do Pix</button>
  </div>

  <script>
    function copyPixCode() {
      // Seleciona o campo de texto
      const pixCodeField = document.getElementById('pixCode')
    
      // Seleciona o texto
      pixCodeField.select()
      pixCodeField.setSelectionRange(0, 99999) // Para dispositivos móveis
    
      // Copia o texto para a área de transferência
      document.execCommand('copy')
    
      // Alerta ao usuário que o código foi copiado
      alert('Código do Pix copiado: ' + pixCodeField.value)
    }
  </script>
{% endblock %}
