/* Garante que a página ocupe a altura total da tela */
body, html {
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /* O conteúdo principal ocupa o espaço disponível, empurrando o footer para baixo */
  .content {
    flex: 1;
    padding-bottom: 50px;
  }

  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: relative; /* Para garantir que o footer fique na parte inferior */
}