.bottom-btn {
    position: absolute;
    bottom: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    font-size: 21px;
    width: 220px;
    border-radius: unset;
}