@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
}
.navbar{
    height: 75px;
}
.navbar-toggler {
    border: none; /* Remove a borda */
}
a.navbar-brand {
    padding-left: 40px;
}
.navbar-light .navbar-brand {
    font-family: "PT Serif", serif;
    font-weight: 40;
    font-style: normal;
    font-size: 23px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}
.sidebar a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 21px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-right .5s;
    padding: 16px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    display: block;
}