.total-value {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.qr-code {
    text-align: center;
    margin: 20px 0;
}

.copy-button {
    cursor: pointer;
}

/* Configura a altura total da tela */
.form-before-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 94vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copy-button {
    margin-top: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .form-container {
        max-width: 600px;
        margin: 0 auto;
    }
}
